html {
    background-color: lightblue;
}

#pageheader {
    display: flex;
    justify-content: center;
    color:green;
}

.welcome {
    font-size: 30px;
    color: red;
}
#studbutton{
    margin:10px 180px;
}
#gradebutton{
    margin-left: 415px;
    margin-top: 10px;
    margin-bottom: 10px;

}
#gradessection {
    background-color: brown;

}
#passed {
    padding-top: 20px;
    padding-bottom: 50px;
}